body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 100;
  color: #222;
  background-color: black;
  margin: 0 0 100px 0;
  color: #bbb;
}

a {
  text-decoration: none;
  color: #f09;
}

h1, h2, h3 {
  font-weight: normal;
  color: #ddd;
}

/* ========================================================
Header
=========================================================== */

header img {
	width: 100%;
}

header h1,h2,h3 {
	text-align: center;
}

/* ========================================================
Font Faces
=========================================================== */

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 100;
  src: url(font/OpenSans-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Advanced Dot Digital';
  font-style: normal;
  font-weight: 700;
  src: url(font/advanced_dot_digital-7.ttf) format('truetype');
}

/* ========================================================
Nav
=========================================================== */

nav {
  text-align: right;
  padding: 10px;
  font-size: 20px;
}

nav a {
  color: #fff;
  padding-right: 10px;
}
nav a:hover {
  color: #f09;
}

.logo-nav {
  width: 230px;
  float: left;
  margin-top: -4px;
}
nav .logo-nav a {
  padding: 0;
}

@media screen and (max-width: 450px) {
  .logo-nav {
    width: 180px;
    margin-top: -2px;
  }
  nav {
    padding: 10px 0;
    font-size: 15px;
  }
}

/* ========================================================
Body
=========================================================== */

.images {
  text-align: center;
  max-width: 1000px;
  margin: 80px auto 20px auto;
}

.single-image {
  text-align: center;
  margin: auto;
  max-width: 1000px;
}

.single-image img {
  max-width: 100%;
  margin: auto;
  padding-top: 50px;
}

.caption p {
  max-width: 1000px;
  margin: 0 auto;
}

.thanks {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 5px 0 5px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  line-height: 1.8em; 
  box-sizing: border-box;
}

.thanks-photo img {
  max-width: 360px;
  margin-top: 80px;
  border-radius: 10px;
}

.thanks-text h3 {
  text-align: left;
  margin: 80px 50px 25px 0;
}

.thanks-text p {
  margin-right: 50px;
  max-width: 400px;
}

.disableScroll { 
  overflow: hidden;
}

.no-cover {
  margin-top: 80px;
}

.index {
  margin-bottom: 100px;
}

.text {
  margin: 0 10px;
}

.text p {
  max-width: 600px;
  margin: 20px auto;
}

p.faq-question {
  font-style: italic;
  color: #fff;
}

/* ========================================================
resize-image-rows.js styles 
=========================================================== */

.image-row {
  display: none;
  overflow: hidden;
  padding: 0px 0px 3px 3px;
}

.image-row img {
  float: left;
  padding-right: 3px;
  cursor: pointer;
}

/* ========================================================
lightbox
=========================================================== */

#lightbox {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  background: rgba(33, 33, 33, 0.8);
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 2;
}

#lightboxImg img {
  max-height: 95%;
  max-width: 95%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 4px solid #bbb;
  background: black;
}

#overlayLeftEl, #overlayRightEl {
  position: fixed;
  z-index: 3;
  cursor: pointer;
}

/* ========================================================
Logo
=========================================================== */
#logo-container {
  max-width: 700px;
  margin: 40px auto;
}

#logo-container-small {
  max-width: 400px;
  margin: 100px auto 0px;
}

.knockout {
  width: 100%;
}
.knockout {
  background: -webkit-linear-gradient(left, #d11141, #f37735, #ffc425, #00b159, #00aedb, #ab66ef, #d11141, #f37735, #ffc425, #00b159, #00aedb, #ab66ef, #d11141);
  background: linear-gradient(to right, #d11141, #f37735, #ffc425, #00b159, #00aedb, #ab66ef, #d11141, #f37735, #ffc425, #00b159, #00aedb, #ab66ef, #d11141);
  background-size: 200% 100%;
  animation: gradientLoop 4s infinite linear;
  -moz-animation: gradientLoop 4s infinite linear;
  -webkit-animation: gradientLoop 4s infinite linear;
}
.knockout svg {
  transform: scale(1.04);
}

svg {
  width: 100%;
}

/*left (x) top (y)*/
@keyframes gradientLoop { 
  0%{background-position:0% 0%}
  100%{background-position:100% 00%}
}

@-webkit-keyframes gradientLoop { 
  0%{background-position:0% 0%}
  100%{background-position:100% 00%}
}

@-moz-keyframes gradientLoop { 
  0%{background-position:0% 0%}
  100%{background-position:100% 00%}
}

text {
  font-family: "Advanced Dot Digital", Helvetica, Arial, sans-serif;
  font-size: 70px;
}


/* ========================================================
Cards
=========================================================== */
#card-container {
  max-width: 600px;
  margin: 0 auto;
  padding-bottom: -100px;
}

.card {
  max-width: 600px;
  max-height: 100%;
  overflow: hidden;
}

.card img {
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.caption-index {
  margin: 10px 0 40px 0;
}

#index {
  margin-bottom: 50px;
}

/* ========================================================
video
=========================================================== */
.video {
  text-align: center;
  margin-top: 70px;
}

video {
  margin: 0 auto;
  width: 500px;
  border-radius: 10px;
}

/* ========================================================
Media Queries
=========================================================== */

@media screen and (max-width: 700px) {
  .card {
    margin-left: 20px;
    margin-right: 20px;
  }

  .thanks {
    display: block;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    max-width: 95%;
    box-sizing: border-box;
  }

  .thanks-photo img {
    max-width: 360px;
    margin: 20 auto 0 auto;
  }

  .thanks-text p {
    text-align: left;
    margin: 20px auto 20px auto;
  }

  .thanks-text h3 {
    margin: 80px auto 20px auto;
  }

  .thanks .thanks-photo {
    margin: 0 auto;
   }
  
  .video {
    margin: 0 20px -50px 20px;
  }

  .single-image {
    margin-top: 50px;
  }
  
  video {
    width: 100%;
   }
}

@media screen and (max-width: 1000px) {
  .caption {
    margin: 0 10px 0 10px;
  }
}
